fastapi>=0.95.0
uvicorn[standard]==0.24.0
python-multipart==0.0.6
opencv_python_headless==4.11.0.86
numpy==1.24.3
python-dotenv==1.0.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
pydantic==2.5.0
ultralytics==8.3.168
anyio==3.7.1
starlette>=0.27.0,<1.0.0
httpx==0.23.0
prometheus_client>=0.17.1
